In [1]:
print("hello")

hello

jupyter notebookでも可能

モジュール　<　パッケージ　＜　ライブラリ

# 第1部：データの確認

In [2]:
import pandas as pd

In [3]:
print(type(pd.read_csv))

<class 'function'>

## 1.CSVの読み込み

In [6]:
df_enq = pd.read_csv("1_2/enquete_sample.csv")

In [7]:
df_enq

   回答者No.  性別   年代  世帯人数      年収  満足度
0    No.1  男性  40代     4   852.0    7
1    No.2  男性  30代     2   529.0    6
2    No.3  男性  20代     1   341.0    3
3    No.4  女性  40代     2   380.0    5
4    No.5  男性  50代     5   808.0    8
5    No.6  男性  50代     4   905.0   10
6    No.7  女性  50代     3   621.0    5
7    No.8  女性  50代     3   621.0    5
8    No.9  男性  20代     1   209.0    1
9   No.10  男性  NaN     3   517.0    8
10  No.11  男性  40代     4   560.0    6
11  No.12  男性  20代     2   403.0    7
12  No.13  女性  50代     4   501.0    5
13  No.14  女性  30代     1   391.0    5
14  No.15  女性  40代     3   679.0    6
15  No.16  男性  50代     3   615.0    8
16  No.17  女性  50代     4   544.0    1
17  No.18  女性  30代     3   443.0    7
18  No.19  男性  40代     3   502.0    6
19  No.20  男性  40代     5   900.0    9
20  No.21  女性  30代     3   707.0    6
21  No.22  女性  20代     1   286.0    9
22  No.23  女性  50代     3   429.0    6
23  No.24  男性  40代     4   811.0    3
24  No.25  女性  30代     3   413.0    8
25  No.26  男性  30代     4   402.0    7
26  No.27  男性  50代     4   557.0    7
27  No.28  女性  20代     1   181.0    2
28  No.29  男性  20代     1   209.0    4
29  No.30  男性  50代     5   891.0    4
30  No.31  男性  40代     4   811.0    3
31  No.32  女性  30代     1     NaN    5
32  No.33  男性  40代     4   562.0    7
33  No.34  男性  20代     1   263.0    8
34  No.35  男性  30代     4  1203.0    5
35  No.36  女性  40代     5   911.0    8
36  No.37  男性  40代     4   758.0    6
37  No.38  女性  30代     4   470.0    7
38  No.39  男性  50代     4   671.0    8
39  No.40  女性  40代     4   631.0    7
40  No.41  男性  30代     3   485.0    6
41  No.42  男性  NaN     2     NaN    6
42  No.43  女性  50代     5  1100.0    6
43  No.44  男性  40代     4  3000.0    2
44  No.45  女性  50代     4   673.0    4
45  No.46  女性  40代     3   610.0    6
46  No.47  男性  20代     3   521.0    6
47  No.48  女性  40代     3   459.0    3
48  No.49  男性  20代     1   308.0    3
49  No.50  男性  40代     2   698.0    1
50  No.51  女性  20代     1   312.0    6
51  No.52  女性  40代     3   582.0    3
52  No.53  男性  50代     3   641.0    1
53  No.54  男性  40代     5   947.0    6
54  No.55  女性  40代     4   805.0    9
55  No.56  男性  20代     2     NaN    4
56  No.57  男性  20代     2   343.0    9
57  No.58  女性  30代     1   510.0    6
58  No.59  男性  50代     4   969.0   10
59  No.60  男性  20代     1   448.0    3

## 2.一部の行/列の抽出

In [13]:
df_enq.head()

  回答者No.  性別   年代  世帯人数     年収  満足度
0   No.1  男性  40代     4  852.0    7
1   No.2  男性  30代     2  529.0    6
2   No.3  男性  20代     1  341.0    3
3   No.4  女性  40代     2  380.0    5
4   No.5  男性  50代     5  808.0    8

In [8]:
df_enq.head(3)

  回答者No.  性別   年代  世帯人数     年収  満足度
0   No.1  男性  40代     4  852.0    7
1   No.2  男性  30代     2  529.0    6
2   No.3  男性  20代     1  341.0    3

In [9]:
df_enq.tail(3)

   回答者No.  性別   年代  世帯人数     年収  満足度
57  No.58  女性  30代     1  510.0    6
58  No.59  男性  50代     4  969.0   10
59  No.60  男性  20代     1  448.0    3

In [11]:
df_enq[5:10]

  回答者No.  性別   年代  世帯人数     年収  満足度
5   No.6  男性  50代     4  905.0   10
6   No.7  女性  50代     3  621.0    5
7   No.8  女性  50代     3  621.0    5
8   No.9  男性  20代     1  209.0    1
9  No.10  男性  NaN     3  517.0    8

In [12]:
df_enq[0:5]

  回答者No.  性別   年代  世帯人数     年収  満足度
0   No.1  男性  40代     4  852.0    7
1   No.2  男性  30代     2  529.0    6
2   No.3  男性  20代     1  341.0    3
3   No.4  女性  40代     2  380.0    5
4   No.5  男性  50代     5  808.0    8

In [14]:
df_enq = pd.read_csv("1_2/enquete_sample.csv",index_col="回答者No.")

In [15]:
df_enq

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.3    男性  20代     1   341.0    3
No.4    女性  40代     2   380.0    5
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.9    男性  20代     1   209.0    1
No.10   男性  NaN     3   517.0    8
No.11   男性  40代     4   560.0    6
No.12   男性  20代     2   403.0    7
No.13   女性  50代     4   501.0    5
No.14   女性  30代     1   391.0    5
No.15   女性  40代     3   679.0    6
No.16   男性  50代     3   615.0    8
No.17   女性  50代     4   544.0    1
No.18   女性  30代     3   443.0    7
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.21   女性  30代     3   707.0    6
No.22   女性  20代     1   286.0    9
No.23   女性  50代     3   429.0    6
No.24   男性  40代     4   811.0    3
No.25   女性  30代     3   413.0    8
No.26   男性  30代     4   402.0    7
No.27   男性  50代     4   557.0    7
No.28   女性  20代     1   181.0    2
No.29   男性  20代     1   209.0    4
No.30   男性  50代     5   891.0    4
No.31   男性  40代     4   811.0    3
No.32   女性  30代     1     NaN    5
No.33   男性  40代     4   562.0    7
No.34   男性  20代     1   263.0    8
No.35   男性  30代     4  1203.0    5
No.36   女性  40代     5   911.0    8
No.37   男性  40代     4   758.0    6
No.38   女性  30代     4   470.0    7
No.39   男性  50代     4   671.0    8
No.40   女性  40代     4   631.0    7
No.41   男性  30代     3   485.0    6
No.42   男性  NaN     2     NaN    6
No.43   女性  50代     5  1100.0    6
No.44   男性  40代     4  3000.0    2
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.47   男性  20代     3   521.0    6
No.48   女性  40代     3   459.0    3
No.49   男性  20代     1   308.0    3
No.50   男性  40代     2   698.0    1
No.51   女性  20代     1   312.0    6
No.52   女性  40代     3   582.0    3
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.55   女性  40代     4   805.0    9
No.56   男性  20代     2     NaN    4
No.57   男性  20代     2   343.0    9
No.58   女性  30代     1   510.0    6
No.59   男性  50代     4   969.0   10
No.60   男性  20代     1   448.0    3

In [ ]:
df_enq[["年収","満足度"]]

            年収  満足度
回答者No.
No.1     852.0    7
No.2     529.0    6
No.3     341.0    3
No.4     380.0    5
No.5     808.0    8
No.6     905.0   10
No.7     621.0    5
No.8     621.0    5
No.9     209.0    1
No.10    517.0    8
No.11    560.0    6
No.12    403.0    7
No.13    501.0    5
No.14    391.0    5
No.15    679.0    6
No.16    615.0    8
No.17    544.0    1
No.18    443.0    7
No.19    502.0    6
No.20    900.0    9
No.21    707.0    6
No.22    286.0    9
No.23    429.0    6
No.24    811.0    3
No.25    413.0    8
No.26    402.0    7
No.27    557.0    7
No.28    181.0    2
No.29    209.0    4
No.30    891.0    4
No.31    811.0    3
No.32      NaN    5
No.33    562.0    7
No.34    263.0    8
No.35   1203.0    5
No.36    911.0    8
No.37    758.0    6
No.38    470.0    7
No.39    671.0    8
No.40    631.0    7
No.41    485.0    6
No.42      NaN    6
No.43   1100.0    6
No.44   3000.0    2
No.45    673.0    4
No.46    610.0    6
No.47    521.0    6
No.48    459.0    3
No.49    308.0    3
No.50    698.0    1
No.51    312.0    6
No.52    582.0    3
No.53    641.0    1
No.54    947.0    6
No.55    805.0    9
No.56      NaN    4
No.57    343.0    9
No.58    510.0    6
No.59    969.0   10
No.60    448.0    3

In [17]:
df_enq[5:10][["年収","満足度"]]

           年収  満足度
回答者No.
No.6    905.0   10
No.7    621.0    5
No.8    621.0    5
No.9    209.0    1
No.10   517.0    8

## 3.条件による行の抽出

In [20]:
df_enq[df_enq["性別"]=="女性"]

        性別   年代  世帯人数      年収  満足度
回答者No.
No.4    女性  40代     2   380.0    5
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.13   女性  50代     4   501.0    5
No.14   女性  30代     1   391.0    5
No.15   女性  40代     3   679.0    6
No.17   女性  50代     4   544.0    1
No.18   女性  30代     3   443.0    7
No.21   女性  30代     3   707.0    6
No.22   女性  20代     1   286.0    9
No.23   女性  50代     3   429.0    6
No.25   女性  30代     3   413.0    8
No.28   女性  20代     1   181.0    2
No.32   女性  30代     1     NaN    5
No.36   女性  40代     5   911.0    8
No.38   女性  30代     4   470.0    7
No.40   女性  40代     4   631.0    7
No.43   女性  50代     5  1100.0    6
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.48   女性  40代     3   459.0    3
No.51   女性  20代     1   312.0    6
No.52   女性  40代     3   582.0    3
No.55   女性  40代     4   805.0    9
No.58   女性  30代     1   510.0    6

In [19]:
df_enq[df_enq["年収"]>500][["年収","満足度"]]

            年収  満足度
回答者No.
No.1     852.0    7
No.2     529.0    6
No.5     808.0    8
No.6     905.0   10
No.7     621.0    5
No.8     621.0    5
No.10    517.0    8
No.11    560.0    6
No.13    501.0    5
No.15    679.0    6
No.16    615.0    8
No.17    544.0    1
No.19    502.0    6
No.20    900.0    9
No.21    707.0    6
No.24    811.0    3
No.27    557.0    7
No.30    891.0    4
No.31    811.0    3
No.33    562.0    7
No.35   1203.0    5
No.36    911.0    8
No.37    758.0    6
No.39    671.0    8
No.40    631.0    7
No.43   1100.0    6
No.44   3000.0    2
No.45    673.0    4
No.46    610.0    6
No.47    521.0    6
No.50    698.0    1
No.52    582.0    3
No.53    641.0    1
No.54    947.0    6
No.55    805.0    9
No.58    510.0    6
No.59    969.0   10

In [21]:
df_enq[(df_enq["年収"]>=500) & (df_enq["性別"]=="女性")][["年収","満足度"]]

            年収  満足度
回答者No.
No.7     621.0    5
No.8     621.0    5
No.13    501.0    5
No.15    679.0    6
No.17    544.0    1
No.21    707.0    6
No.36    911.0    8
No.40    631.0    7
No.43   1100.0    6
No.45    673.0    4
No.46    610.0    6
No.52    582.0    3
No.55    805.0    9
No.58    510.0    6

In [22]:
df_enq[(df_enq["年収"]>=500) | (df_enq["年代"]=="50代")]

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.10   男性  NaN     3   517.0    8
No.11   男性  40代     4   560.0    6
No.13   女性  50代     4   501.0    5
No.15   女性  40代     3   679.0    6
No.16   男性  50代     3   615.0    8
No.17   女性  50代     4   544.0    1
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.21   女性  30代     3   707.0    6
No.23   女性  50代     3   429.0    6
No.24   男性  40代     4   811.0    3
No.27   男性  50代     4   557.0    7
No.30   男性  50代     5   891.0    4
No.31   男性  40代     4   811.0    3
No.33   男性  40代     4   562.0    7
No.35   男性  30代     4  1203.0    5
No.36   女性  40代     5   911.0    8
No.37   男性  40代     4   758.0    6
No.39   男性  50代     4   671.0    8
No.40   女性  40代     4   631.0    7
No.43   女性  50代     5  1100.0    6
No.44   男性  40代     4  3000.0    2
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.47   男性  20代     3   521.0    6
No.50   男性  40代     2   698.0    1
No.52   女性  40代     3   582.0    3
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.55   女性  40代     4   805.0    9
No.58   女性  30代     1   510.0    6
No.59   男性  50代     4   969.0   10

## 4 データの並び替え

In [24]:
df_enq.sort_values("年収")

        性別   年代  世帯人数      年収  満足度
回答者No.
No.28   女性  20代     1   181.0    2
No.29   男性  20代     1   209.0    4
No.9    男性  20代     1   209.0    1
No.34   男性  20代     1   263.0    8
No.22   女性  20代     1   286.0    9
No.49   男性  20代     1   308.0    3
No.51   女性  20代     1   312.0    6
No.3    男性  20代     1   341.0    3
No.57   男性  20代     2   343.0    9
No.4    女性  40代     2   380.0    5
No.14   女性  30代     1   391.0    5
No.26   男性  30代     4   402.0    7
No.12   男性  20代     2   403.0    7
No.25   女性  30代     3   413.0    8
No.23   女性  50代     3   429.0    6
No.18   女性  30代     3   443.0    7
No.60   男性  20代     1   448.0    3
No.48   女性  40代     3   459.0    3
No.38   女性  30代     4   470.0    7
No.41   男性  30代     3   485.0    6
No.13   女性  50代     4   501.0    5
No.19   男性  40代     3   502.0    6
No.58   女性  30代     1   510.0    6
No.10   男性  NaN     3   517.0    8
No.47   男性  20代     3   521.0    6
No.2    男性  30代     2   529.0    6
No.17   女性  50代     4   544.0    1
No.27   男性  50代     4   557.0    7
No.11   男性  40代     4   560.0    6
No.33   男性  40代     4   562.0    7
No.52   女性  40代     3   582.0    3
No.46   女性  40代     3   610.0    6
No.16   男性  50代     3   615.0    8
No.8    女性  50代     3   621.0    5
No.7    女性  50代     3   621.0    5
No.40   女性  40代     4   631.0    7
No.53   男性  50代     3   641.0    1
No.39   男性  50代     4   671.0    8
No.45   女性  50代     4   673.0    4
No.15   女性  40代     3   679.0    6
No.50   男性  40代     2   698.0    1
No.21   女性  30代     3   707.0    6
No.37   男性  40代     4   758.0    6
No.55   女性  40代     4   805.0    9
No.5    男性  50代     5   808.0    8
No.31   男性  40代     4   811.0    3
No.24   男性  40代     4   811.0    3
No.1    男性  40代     4   852.0    7
No.30   男性  50代     5   891.0    4
No.20   男性  40代     5   900.0    9
No.6    男性  50代     4   905.0   10
No.36   女性  40代     5   911.0    8
No.54   男性  40代     5   947.0    6
No.59   男性  50代     4   969.0   10
No.43   女性  50代     5  1100.0    6
No.35   男性  30代     4  1203.0    5
No.44   男性  40代     4  3000.0    2
No.32   女性  30代     1     NaN    5
No.42   男性  NaN     2     NaN    6
No.56   男性  20代     2     NaN    4

In [23]:
df_enq.sort_values("年収",ascending=False)

        性別   年代  世帯人数      年収  満足度
回答者No.
No.44   男性  40代     4  3000.0    2
No.35   男性  30代     4  1203.0    5
No.43   女性  50代     5  1100.0    6
No.59   男性  50代     4   969.0   10
No.54   男性  40代     5   947.0    6
No.36   女性  40代     5   911.0    8
No.6    男性  50代     4   905.0   10
No.20   男性  40代     5   900.0    9
No.30   男性  50代     5   891.0    4
No.1    男性  40代     4   852.0    7
No.31   男性  40代     4   811.0    3
No.24   男性  40代     4   811.0    3
No.5    男性  50代     5   808.0    8
No.55   女性  40代     4   805.0    9
No.37   男性  40代     4   758.0    6
No.21   女性  30代     3   707.0    6
No.50   男性  40代     2   698.0    1
No.15   女性  40代     3   679.0    6
No.45   女性  50代     4   673.0    4
No.39   男性  50代     4   671.0    8
No.53   男性  50代     3   641.0    1
No.40   女性  40代     4   631.0    7
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.16   男性  50代     3   615.0    8
No.46   女性  40代     3   610.0    6
No.52   女性  40代     3   582.0    3
No.33   男性  40代     4   562.0    7
No.11   男性  40代     4   560.0    6
No.27   男性  50代     4   557.0    7
No.17   女性  50代     4   544.0    1
No.2    男性  30代     2   529.0    6
No.47   男性  20代     3   521.0    6
No.10   男性  NaN     3   517.0    8
No.58   女性  30代     1   510.0    6
No.19   男性  40代     3   502.0    6
No.13   女性  50代     4   501.0    5
No.41   男性  30代     3   485.0    6
No.38   女性  30代     4   470.0    7
No.48   女性  40代     3   459.0    3
No.60   男性  20代     1   448.0    3
No.18   女性  30代     3   443.0    7
No.23   女性  50代     3   429.0    6
No.25   女性  30代     3   413.0    8
No.12   男性  20代     2   403.0    7
No.26   男性  30代     4   402.0    7
No.14   女性  30代     1   391.0    5
No.4    女性  40代     2   380.0    5
No.57   男性  20代     2   343.0    9
No.3    男性  20代     1   341.0    3
No.51   女性  20代     1   312.0    6
No.49   男性  20代     1   308.0    3
No.22   女性  20代     1   286.0    9
No.34   男性  20代     1   263.0    8
No.9    男性  20代     1   209.0    1
No.29   男性  20代     1   209.0    4
No.28   女性  20代     1   181.0    2
No.32   女性  30代     1     NaN    5
No.42   男性  NaN     2     NaN    6
No.56   男性  20代     2     NaN    4

In [25]:
df_enq.sort_values(["年代","年収"],ascending=False)

        性別   年代  世帯人数      年収  満足度
回答者No.
No.43   女性  50代     5  1100.0    6
No.59   男性  50代     4   969.0   10
No.6    男性  50代     4   905.0   10
No.30   男性  50代     5   891.0    4
No.5    男性  50代     5   808.0    8
No.45   女性  50代     4   673.0    4
No.39   男性  50代     4   671.0    8
No.53   男性  50代     3   641.0    1
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.16   男性  50代     3   615.0    8
No.27   男性  50代     4   557.0    7
No.17   女性  50代     4   544.0    1
No.13   女性  50代     4   501.0    5
No.23   女性  50代     3   429.0    6
No.44   男性  40代     4  3000.0    2
No.54   男性  40代     5   947.0    6
No.36   女性  40代     5   911.0    8
No.20   男性  40代     5   900.0    9
No.1    男性  40代     4   852.0    7
No.24   男性  40代     4   811.0    3
No.31   男性  40代     4   811.0    3
No.55   女性  40代     4   805.0    9
No.37   男性  40代     4   758.0    6
No.50   男性  40代     2   698.0    1
No.15   女性  40代     3   679.0    6
No.40   女性  40代     4   631.0    7
No.46   女性  40代     3   610.0    6
No.52   女性  40代     3   582.0    3
No.33   男性  40代     4   562.0    7
No.11   男性  40代     4   560.0    6
No.19   男性  40代     3   502.0    6
No.48   女性  40代     3   459.0    3
No.4    女性  40代     2   380.0    5
No.35   男性  30代     4  1203.0    5
No.21   女性  30代     3   707.0    6
No.2    男性  30代     2   529.0    6
No.58   女性  30代     1   510.0    6
No.41   男性  30代     3   485.0    6
No.38   女性  30代     4   470.0    7
No.18   女性  30代     3   443.0    7
No.25   女性  30代     3   413.0    8
No.26   男性  30代     4   402.0    7
No.14   女性  30代     1   391.0    5
No.32   女性  30代     1     NaN    5
No.47   男性  20代     3   521.0    6
No.60   男性  20代     1   448.0    3
No.12   男性  20代     2   403.0    7
No.57   男性  20代     2   343.0    9
No.3    男性  20代     1   341.0    3
No.51   女性  20代     1   312.0    6
No.49   男性  20代     1   308.0    3
No.22   女性  20代     1   286.0    9
No.34   男性  20代     1   263.0    8
No.9    男性  20代     1   209.0    1
No.29   男性  20代     1   209.0    4
No.28   女性  20代     1   181.0    2
No.56   男性  20代     2     NaN    4
No.10   男性  NaN     3   517.0    8
No.42   男性  NaN     2     NaN    6

## CSVの書き出し

In [ ]:
df_enq_temp = df_enq[df_enq["年代"]=="50代"]

In [27]:
df_enq_temp.sort_values("年収")

        性別   年代  世帯人数      年収  満足度
回答者No.
No.23   女性  50代     3   429.0    6
No.13   女性  50代     4   501.0    5
No.17   女性  50代     4   544.0    1
No.27   男性  50代     4   557.0    7
No.16   男性  50代     3   615.0    8
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.53   男性  50代     3   641.0    1
No.39   男性  50代     4   671.0    8
No.45   女性  50代     4   673.0    4
No.5    男性  50代     5   808.0    8
No.30   男性  50代     5   891.0    4
No.6    男性  50代     4   905.0   10
No.59   男性  50代     4   969.0   10
No.43   女性  50代     5  1100.0    6

In [28]:
df_enq_temp.to_csv("1_2_save/enquete_sample_50.csv")

# 第二部　データの集計

## データの集計

In [29]:
df_enq.describe()

            世帯人数           年収        満足度
count  60.000000    57.000000  60.000000
mean    3.000000   629.789474   5.633333
std     1.288804   392.547847   2.306708
min     1.000000   181.000000   1.000000
25%     2.000000   429.000000   4.000000
50%     3.000000   560.000000   6.000000
75%     4.000000   758.000000   7.000000
max     5.000000  3000.000000  10.000000

In [31]:
df_enq.sum(numeric_only=True)

世帯人数      180.0
年収      35898.0
満足度       338.0
dtype: float64

In [32]:
df_enq.mean(numeric_only=True)

世帯人数      3.000000
年収      629.789474
満足度       5.633333
dtype: float64

In [33]:
df_enq.median(numeric_only=True)

世帯人数      3.0
年収      560.0
満足度       6.0
dtype: float64

## 条件ごとのデータ集計

In [34]:
df_enq.groupby("性別").mean(numeric_only=True)

        世帯人数          年収       満足度
性別
女性  2.880000  552.458333  5.600000
男性  3.085714  686.030303  5.657143

Series形式

In [38]:
df_enq.groupby("性別").mean(numeric_only=True)["年収"]

性別
女性    552.458333
男性    686.030303
Name: 年収, dtype: float64

dataframe形式

In [37]:
df_enq.groupby("性別").mean(numeric_only=True)[["年収"]]

            年収
性別
女性  552.458333
男性  686.030303

In [41]:
df_enq.groupby("年代").count()

     性別  世帯人数  年収  満足度
年代
20代  13    13  12   13
30代  11    11  10   11
40代  19    19  19   19
50代  15    15  15   15

In [43]:
df_enq.groupby("年代").median(numeric_only=True)[["年収"]]

        年収
年代
20代  310.0
30代  477.5
40代  698.0
50代  641.0

In [45]:
df_enq.groupby(["性別","年代"]).median(numeric_only=True)#[["年収"]]

        世帯人数     年収  満足度
性別 年代
女性 20代   1.0  286.0  6.0
   30代   3.0  456.5  6.0
   40代   3.0  620.5  6.0
   50代   4.0  621.0  5.0
男性 20代   1.0  341.0  4.0
   30代   3.5  507.0  6.0
   40代   4.0  811.0  6.0
   50代   4.0  739.5  8.0

In [46]:
df_enq.groupby(["性別","年代"]).mean(numeric_only=True)[["満足度"]]

             満足度
性別 年代
女性 20代  5.666667
   30代  6.285714
   40代  5.875000
   50代  4.571429
男性 20代  4.800000
   30代  6.000000
   40代  5.090909
   50代  7.000000

In [47]:
df_enq.groupby(["性別","年代"]).sum(numeric_only=True)[["年収"]]

             年収
性別 年代
女性 20代    779.0
   30代   2934.0
   40代   5057.0
   50代   4489.0
男性 20代   3045.0
   30代   2619.0
   40代  10401.0
   50代   6057.0

# 第3部　データの整形　データクリーニング

## 1.重複行処理

In [48]:
df_enq

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.3    男性  20代     1   341.0    3
No.4    女性  40代     2   380.0    5
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.9    男性  20代     1   209.0    1
No.10   男性  NaN     3   517.0    8
No.11   男性  40代     4   560.0    6
No.12   男性  20代     2   403.0    7
No.13   女性  50代     4   501.0    5
No.14   女性  30代     1   391.0    5
No.15   女性  40代     3   679.0    6
No.16   男性  50代     3   615.0    8
No.17   女性  50代     4   544.0    1
No.18   女性  30代     3   443.0    7
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.21   女性  30代     3   707.0    6
No.22   女性  20代     1   286.0    9
No.23   女性  50代     3   429.0    6
No.24   男性  40代     4   811.0    3
No.25   女性  30代     3   413.0    8
No.26   男性  30代     4   402.0    7
No.27   男性  50代     4   557.0    7
No.28   女性  20代     1   181.0    2
No.29   男性  20代     1   209.0    4
No.30   男性  50代     5   891.0    4
No.31   男性  40代     4   811.0    3
No.32   女性  30代     1     NaN    5
No.33   男性  40代     4   562.0    7
No.34   男性  20代     1   263.0    8
No.35   男性  30代     4  1203.0    5
No.36   女性  40代     5   911.0    8
No.37   男性  40代     4   758.0    6
No.38   女性  30代     4   470.0    7
No.39   男性  50代     4   671.0    8
No.40   女性  40代     4   631.0    7
No.41   男性  30代     3   485.0    6
No.42   男性  NaN     2     NaN    6
No.43   女性  50代     5  1100.0    6
No.44   男性  40代     4  3000.0    2
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.47   男性  20代     3   521.0    6
No.48   女性  40代     3   459.0    3
No.49   男性  20代     1   308.0    3
No.50   男性  40代     2   698.0    1
No.51   女性  20代     1   312.0    6
No.52   女性  40代     3   582.0    3
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.55   女性  40代     4   805.0    9
No.56   男性  20代     2     NaN    4
No.57   男性  20代     2   343.0    9
No.58   女性  30代     1   510.0    6
No.59   男性  50代     4   969.0   10
No.60   男性  20代     1   448.0    3

In [49]:
df_enq.duplicated()

回答者No.
No.1     False
No.2     False
No.3     False
No.4     False
No.5     False
No.6     False
No.7     False
No.8      True
No.9     False
No.10    False
No.11    False
No.12    False
No.13    False
No.14    False
No.15    False
No.16    False
No.17    False
No.18    False
No.19    False
No.20    False
No.21    False
No.22    False
No.23    False
No.24    False
No.25    False
No.26    False
No.27    False
No.28    False
No.29    False
No.30    False
No.31     True
No.32    False
No.33    False
No.34    False
No.35    False
No.36    False
No.37    False
No.38    False
No.39    False
No.40    False
No.41    False
No.42    False
No.43    False
No.44    False
No.45    False
No.46    False
No.47    False
No.48    False
No.49    False
No.50    False
No.51    False
No.52    False
No.53    False
No.54    False
No.55    False
No.56    False
No.57    False
No.58    False
No.59    False
No.60    False
dtype: bool

In [ ]:
df_enq[df_enq.duplicated()] #被ってる２個目が表示されてる

        性別   年代  世帯人数     年収  満足度
回答者No.
No.8    女性  50代     3  621.0    5
No.31   男性  40代     4  811.0    3

In [51]:
df_enq[df_enq.duplicated(keep=False)]

        性別   年代  世帯人数     年収  満足度
回答者No.
No.7    女性  50代     3  621.0    5
No.8    女性  50代     3  621.0    5
No.24   男性  40代     4  811.0    3
No.31   男性  40代     4  811.0    3

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.3    男性  20代     1   341.0    3
No.4    女性  40代     2   380.0    5
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.8    女性  50代     3   621.0    5
No.9    男性  20代     1   209.0    1
No.10   男性  NaN     3   517.0    8
No.11   男性  40代     4   560.0    6
No.12   男性  20代     2   403.0    7
No.13   女性  50代     4   501.0    5
No.14   女性  30代     1   391.0    5
No.15   女性  40代     3   679.0    6
No.16   男性  50代     3   615.0    8
No.17   女性  50代     4   544.0    1
No.18   女性  30代     3   443.0    7
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.21   女性  30代     3   707.0    6
No.22   女性  20代     1   286.0    9
No.23   女性  50代     3   429.0    6
No.25   女性  30代     3   413.0    8
No.26   男性  30代     4   402.0    7
No.27   男性  50代     4   557.0    7
No.28   女性  20代     1   181.0    2
No.29   男性  20代     1   209.0    4
No.30   男性  50代     5   891.0    4
No.31   男性  40代     4   811.0    3
No.32   女性  30代     1     NaN    5
No.33   男性  40代     4   562.0    7
No.34   男性  20代     1   263.0    8
No.35   男性  30代     4  1203.0    5
No.36   女性  40代     5   911.0    8
No.37   男性  40代     4   758.0    6
No.38   女性  30代     4   470.0    7
No.39   男性  50代     4   671.0    8
No.40   女性  40代     4   631.0    7
No.41   男性  30代     3   485.0    6
No.42   男性  NaN     2     NaN    6
No.43   女性  50代     5  1100.0    6
No.44   男性  40代     4  3000.0    2
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.47   男性  20代     3   521.0    6
No.48   女性  40代     3   459.0    3
No.49   男性  20代     1   308.0    3
No.50   男性  40代     2   698.0    1
No.51   女性  20代     1   312.0    6
No.52   女性  40代     3   582.0    3
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.55   女性  40代     4   805.0    9
No.56   男性  20代     2     NaN    4
No.57   男性  20代     2   343.0    9
No.58   女性  30代     1   510.0    6
No.59   男性  50代     4   969.0   10
No.60   男性  20代     1   448.0    3

In [ ]:
df_enq.drop_duplicates() #ダブったところを消してる

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.3    男性  20代     1   341.0    3
No.4    女性  40代     2   380.0    5
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.7    女性  50代     3   621.0    5
No.9    男性  20代     1   209.0    1
No.10   男性  NaN     3   517.0    8
No.11   男性  40代     4   560.0    6
No.12   男性  20代     2   403.0    7
No.13   女性  50代     4   501.0    5
No.14   女性  30代     1   391.0    5
No.15   女性  40代     3   679.0    6
No.16   男性  50代     3   615.0    8
No.17   女性  50代     4   544.0    1
No.18   女性  30代     3   443.0    7
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.21   女性  30代     3   707.0    6
No.22   女性  20代     1   286.0    9
No.23   女性  50代     3   429.0    6
No.24   男性  40代     4   811.0    3
No.25   女性  30代     3   413.0    8
No.26   男性  30代     4   402.0    7
No.27   男性  50代     4   557.0    7
No.28   女性  20代     1   181.0    2
No.29   男性  20代     1   209.0    4
No.30   男性  50代     5   891.0    4
No.32   女性  30代     1     NaN    5
No.33   男性  40代     4   562.0    7
No.34   男性  20代     1   263.0    8
No.35   男性  30代     4  1203.0    5
No.36   女性  40代     5   911.0    8
No.37   男性  40代     4   758.0    6
No.38   女性  30代     4   470.0    7
No.39   男性  50代     4   671.0    8
No.40   女性  40代     4   631.0    7
No.41   男性  30代     3   485.0    6
No.42   男性  NaN     2     NaN    6
No.43   女性  50代     5  1100.0    6
No.44   男性  40代     4  3000.0    2
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.47   男性  20代     3   521.0    6
No.48   女性  40代     3   459.0    3
No.49   男性  20代     1   308.0    3
No.50   男性  40代     2   698.0    1
No.51   女性  20代     1   312.0    6
No.52   女性  40代     3   582.0    3
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.55   女性  40代     4   805.0    9
No.56   男性  20代     2     NaN    4
No.57   男性  20代     2   343.0    9
No.58   女性  30代     1   510.0    6
No.59   男性  50代     4   969.0   10
No.60   男性  20代     1   448.0    3

In [ ]:
df_enq.drop_duplicates(keep="last")

In [55]:
df_enq.drop_duplicates(subset="年代")

        性別   年代  世帯人数     年収  満足度
回答者No.
No.1    男性  40代     4  852.0    7
No.2    男性  30代     2  529.0    6
No.3    男性  20代     1  341.0    3
No.5    男性  50代     5  808.0    8
No.10   男性  NaN     3  517.0    8

In [56]:
df_enq.drop_duplicates(subset=["性別","年代"])

        性別   年代  世帯人数     年収  満足度
回答者No.
No.1    男性  40代     4  852.0    7
No.2    男性  30代     2  529.0    6
No.3    男性  20代     1  341.0    3
No.4    女性  40代     2  380.0    5
No.5    男性  50代     5  808.0    8
No.7    女性  50代     3  621.0    5
No.10   男性  NaN     3  517.0    8
No.14   女性  30代     1  391.0    5
No.22   女性  20代     1  286.0    9

## 2.欠損血処理　Not a Number

消しちゃう

In [57]:
df_enq.dropna()

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.3    男性  20代     1   341.0    3
No.4    女性  40代     2   380.0    5
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.9    男性  20代     1   209.0    1
No.11   男性  40代     4   560.0    6
No.12   男性  20代     2   403.0    7
No.13   女性  50代     4   501.0    5
No.14   女性  30代     1   391.0    5
No.15   女性  40代     3   679.0    6
No.16   男性  50代     3   615.0    8
No.17   女性  50代     4   544.0    1
No.18   女性  30代     3   443.0    7
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.21   女性  30代     3   707.0    6
No.22   女性  20代     1   286.0    9
No.23   女性  50代     3   429.0    6
No.24   男性  40代     4   811.0    3
No.25   女性  30代     3   413.0    8
No.26   男性  30代     4   402.0    7
No.27   男性  50代     4   557.0    7
No.28   女性  20代     1   181.0    2
No.29   男性  20代     1   209.0    4
No.30   男性  50代     5   891.0    4
No.31   男性  40代     4   811.0    3
No.33   男性  40代     4   562.0    7
No.34   男性  20代     1   263.0    8
No.35   男性  30代     4  1203.0    5
No.36   女性  40代     5   911.0    8
No.37   男性  40代     4   758.0    6
No.38   女性  30代     4   470.0    7
No.39   男性  50代     4   671.0    8
No.40   女性  40代     4   631.0    7
No.41   男性  30代     3   485.0    6
No.43   女性  50代     5  1100.0    6
No.44   男性  40代     4  3000.0    2
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.47   男性  20代     3   521.0    6
No.48   女性  40代     3   459.0    3
No.49   男性  20代     1   308.0    3
No.50   男性  40代     2   698.0    1
No.51   女性  20代     1   312.0    6
No.52   女性  40代     3   582.0    3
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.55   女性  40代     4   805.0    9
No.57   男性  20代     2   343.0    9
No.58   女性  30代     1   510.0    6
No.59   男性  50代     4   969.0   10
No.60   男性  20代     1   448.0    3

In [59]:
df_enq.dropna(subset=["年収"])

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.3    男性  20代     1   341.0    3
No.4    女性  40代     2   380.0    5
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.9    男性  20代     1   209.0    1
No.10   男性  NaN     3   517.0    8
No.11   男性  40代     4   560.0    6
No.12   男性  20代     2   403.0    7
No.13   女性  50代     4   501.0    5
No.14   女性  30代     1   391.0    5
No.15   女性  40代     3   679.0    6
No.16   男性  50代     3   615.0    8
No.17   女性  50代     4   544.0    1
No.18   女性  30代     3   443.0    7
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.21   女性  30代     3   707.0    6
No.22   女性  20代     1   286.0    9
No.23   女性  50代     3   429.0    6
No.24   男性  40代     4   811.0    3
No.25   女性  30代     3   413.0    8
No.26   男性  30代     4   402.0    7
No.27   男性  50代     4   557.0    7
No.28   女性  20代     1   181.0    2
No.29   男性  20代     1   209.0    4
No.30   男性  50代     5   891.0    4
No.31   男性  40代     4   811.0    3
No.33   男性  40代     4   562.0    7
No.34   男性  20代     1   263.0    8
No.35   男性  30代     4  1203.0    5
No.36   女性  40代     5   911.0    8
No.37   男性  40代     4   758.0    6
No.38   女性  30代     4   470.0    7
No.39   男性  50代     4   671.0    8
No.40   女性  40代     4   631.0    7
No.41   男性  30代     3   485.0    6
No.43   女性  50代     5  1100.0    6
No.44   男性  40代     4  3000.0    2
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.47   男性  20代     3   521.0    6
No.48   女性  40代     3   459.0    3
No.49   男性  20代     1   308.0    3
No.50   男性  40代     2   698.0    1
No.51   女性  20代     1   312.0    6
No.52   女性  40代     3   582.0    3
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.55   女性  40代     4   805.0    9
No.57   男性  20代     2   343.0    9
No.58   女性  30代     1   510.0    6
No.59   男性  50代     4   969.0   10
No.60   男性  20代     1   448.0    3

In [60]:
df_enq.dropna(subset=["年代","年収"])

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.3    男性  20代     1   341.0    3
No.4    女性  40代     2   380.0    5
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.9    男性  20代     1   209.0    1
No.11   男性  40代     4   560.0    6
No.12   男性  20代     2   403.0    7
No.13   女性  50代     4   501.0    5
No.14   女性  30代     1   391.0    5
No.15   女性  40代     3   679.0    6
No.16   男性  50代     3   615.0    8
No.17   女性  50代     4   544.0    1
No.18   女性  30代     3   443.0    7
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.21   女性  30代     3   707.0    6
No.22   女性  20代     1   286.0    9
No.23   女性  50代     3   429.0    6
No.24   男性  40代     4   811.0    3
No.25   女性  30代     3   413.0    8
No.26   男性  30代     4   402.0    7
No.27   男性  50代     4   557.0    7
No.28   女性  20代     1   181.0    2
No.29   男性  20代     1   209.0    4
No.30   男性  50代     5   891.0    4
No.31   男性  40代     4   811.0    3
No.33   男性  40代     4   562.0    7
No.34   男性  20代     1   263.0    8
No.35   男性  30代     4  1203.0    5
No.36   女性  40代     5   911.0    8
No.37   男性  40代     4   758.0    6
No.38   女性  30代     4   470.0    7
No.39   男性  50代     4   671.0    8
No.40   女性  40代     4   631.0    7
No.41   男性  30代     3   485.0    6
No.43   女性  50代     5  1100.0    6
No.44   男性  40代     4  3000.0    2
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.47   男性  20代     3   521.0    6
No.48   女性  40代     3   459.0    3
No.49   男性  20代     1   308.0    3
No.50   男性  40代     2   698.0    1
No.51   女性  20代     1   312.0    6
No.52   女性  40代     3   582.0    3
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.55   女性  40代     4   805.0    9
No.57   男性  20代     2   343.0    9
No.58   女性  30代     1   510.0    6
No.59   男性  50代     4   969.0   10
No.60   男性  20代     1   448.0    3

両方なかったら消す(どっちかあれば残す)

In [61]:
df_enq.dropna(subset=["年代","年収"],how="all")

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.3    男性  20代     1   341.0    3
No.4    女性  40代     2   380.0    5
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.9    男性  20代     1   209.0    1
No.10   男性  NaN     3   517.0    8
No.11   男性  40代     4   560.0    6
No.12   男性  20代     2   403.0    7
No.13   女性  50代     4   501.0    5
No.14   女性  30代     1   391.0    5
No.15   女性  40代     3   679.0    6
No.16   男性  50代     3   615.0    8
No.17   女性  50代     4   544.0    1
No.18   女性  30代     3   443.0    7
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.21   女性  30代     3   707.0    6
No.22   女性  20代     1   286.0    9
No.23   女性  50代     3   429.0    6
No.24   男性  40代     4   811.0    3
No.25   女性  30代     3   413.0    8
No.26   男性  30代     4   402.0    7
No.27   男性  50代     4   557.0    7
No.28   女性  20代     1   181.0    2
No.29   男性  20代     1   209.0    4
No.30   男性  50代     5   891.0    4
No.31   男性  40代     4   811.0    3
No.32   女性  30代     1     NaN    5
No.33   男性  40代     4   562.0    7
No.34   男性  20代     1   263.0    8
No.35   男性  30代     4  1203.0    5
No.36   女性  40代     5   911.0    8
No.37   男性  40代     4   758.0    6
No.38   女性  30代     4   470.0    7
No.39   男性  50代     4   671.0    8
No.40   女性  40代     4   631.0    7
No.41   男性  30代     3   485.0    6
No.43   女性  50代     5  1100.0    6
No.44   男性  40代     4  3000.0    2
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.47   男性  20代     3   521.0    6
No.48   女性  40代     3   459.0    3
No.49   男性  20代     1   308.0    3
No.50   男性  40代     2   698.0    1
No.51   女性  20代     1   312.0    6
No.52   女性  40代     3   582.0    3
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.55   女性  40代     4   805.0    9
No.56   男性  20代     2     NaN    4
No.57   男性  20代     2   343.0    9
No.58   女性  30代     1   510.0    6
No.59   男性  50代     4   969.0   10
No.60   男性  20代     1   448.0    3

適当に埋める

In [62]:
df_enq.fillna("XXX")

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.3    男性  20代     1   341.0    3
No.4    女性  40代     2   380.0    5
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.9    男性  20代     1   209.0    1
No.10   男性  XXX     3   517.0    8
No.11   男性  40代     4   560.0    6
No.12   男性  20代     2   403.0    7
No.13   女性  50代     4   501.0    5
No.14   女性  30代     1   391.0    5
No.15   女性  40代     3   679.0    6
No.16   男性  50代     3   615.0    8
No.17   女性  50代     4   544.0    1
No.18   女性  30代     3   443.0    7
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.21   女性  30代     3   707.0    6
No.22   女性  20代     1   286.0    9
No.23   女性  50代     3   429.0    6
No.24   男性  40代     4   811.0    3
No.25   女性  30代     3   413.0    8
No.26   男性  30代     4   402.0    7
No.27   男性  50代     4   557.0    7
No.28   女性  20代     1   181.0    2
No.29   男性  20代     1   209.0    4
No.30   男性  50代     5   891.0    4
No.31   男性  40代     4   811.0    3
No.32   女性  30代     1     XXX    5
No.33   男性  40代     4   562.0    7
No.34   男性  20代     1   263.0    8
No.35   男性  30代     4  1203.0    5
No.36   女性  40代     5   911.0    8
No.37   男性  40代     4   758.0    6
No.38   女性  30代     4   470.0    7
No.39   男性  50代     4   671.0    8
No.40   女性  40代     4   631.0    7
No.41   男性  30代     3   485.0    6
No.42   男性  XXX     2     XXX    6
No.43   女性  50代     5  1100.0    6
No.44   男性  40代     4  3000.0    2
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.47   男性  20代     3   521.0    6
No.48   女性  40代     3   459.0    3
No.49   男性  20代     1   308.0    3
No.50   男性  40代     2   698.0    1
No.51   女性  20代     1   312.0    6
No.52   女性  40代     3   582.0    3
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.55   女性  40代     4   805.0    9
No.56   男性  20代     2     XXX    4
No.57   男性  20代     2   343.0    9
No.58   女性  30代     1   510.0    6
No.59   男性  50代     4   969.0   10
No.60   男性  20代     1   448.0    3

In [63]:
df_enq.fillna({"年代":"不明","年収":0})

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.3    男性  20代     1   341.0    3
No.4    女性  40代     2   380.0    5
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.9    男性  20代     1   209.0    1
No.10   男性   不明     3   517.0    8
No.11   男性  40代     4   560.0    6
No.12   男性  20代     2   403.0    7
No.13   女性  50代     4   501.0    5
No.14   女性  30代     1   391.0    5
No.15   女性  40代     3   679.0    6
No.16   男性  50代     3   615.0    8
No.17   女性  50代     4   544.0    1
No.18   女性  30代     3   443.0    7
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.21   女性  30代     3   707.0    6
No.22   女性  20代     1   286.0    9
No.23   女性  50代     3   429.0    6
No.24   男性  40代     4   811.0    3
No.25   女性  30代     3   413.0    8
No.26   男性  30代     4   402.0    7
No.27   男性  50代     4   557.0    7
No.28   女性  20代     1   181.0    2
No.29   男性  20代     1   209.0    4
No.30   男性  50代     5   891.0    4
No.31   男性  40代     4   811.0    3
No.32   女性  30代     1     0.0    5
No.33   男性  40代     4   562.0    7
No.34   男性  20代     1   263.0    8
No.35   男性  30代     4  1203.0    5
No.36   女性  40代     5   911.0    8
No.37   男性  40代     4   758.0    6
No.38   女性  30代     4   470.0    7
No.39   男性  50代     4   671.0    8
No.40   女性  40代     4   631.0    7
No.41   男性  30代     3   485.0    6
No.42   男性   不明     2     0.0    6
No.43   女性  50代     5  1100.0    6
No.44   男性  40代     4  3000.0    2
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.47   男性  20代     3   521.0    6
No.48   女性  40代     3   459.0    3
No.49   男性  20代     1   308.0    3
No.50   男性  40代     2   698.0    1
No.51   女性  20代     1   312.0    6
No.52   女性  40代     3   582.0    3
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.55   女性  40代     4   805.0    9
No.56   男性  20代     2     0.0    4
No.57   男性  20代     2   343.0    9
No.58   女性  30代     1   510.0    6
No.59   男性  50代     4   969.0   10
No.60   男性  20代     1   448.0    3

In [65]:
df_enq.mean(numeric_only=True)["年収"]

np.float64(629.7894736842105)

In [66]:
df_enq.fillna({"年代":"不明","年収":df_enq.mean(numeric_only=True)["年収"]})

        性別   年代  世帯人数           年収  満足度
回答者No.
No.1    男性  40代     4   852.000000    7
No.2    男性  30代     2   529.000000    6
No.3    男性  20代     1   341.000000    3
No.4    女性  40代     2   380.000000    5
No.5    男性  50代     5   808.000000    8
No.6    男性  50代     4   905.000000   10
No.7    女性  50代     3   621.000000    5
No.8    女性  50代     3   621.000000    5
No.9    男性  20代     1   209.000000    1
No.10   男性   不明     3   517.000000    8
No.11   男性  40代     4   560.000000    6
No.12   男性  20代     2   403.000000    7
No.13   女性  50代     4   501.000000    5
No.14   女性  30代     1   391.000000    5
No.15   女性  40代     3   679.000000    6
No.16   男性  50代     3   615.000000    8
No.17   女性  50代     4   544.000000    1
No.18   女性  30代     3   443.000000    7
No.19   男性  40代     3   502.000000    6
No.20   男性  40代     5   900.000000    9
No.21   女性  30代     3   707.000000    6
No.22   女性  20代     1   286.000000    9
No.23   女性  50代     3   429.000000    6
No.24   男性  40代     4   811.000000    3
No.25   女性  30代     3   413.000000    8
No.26   男性  30代     4   402.000000    7
No.27   男性  50代     4   557.000000    7
No.28   女性  20代     1   181.000000    2
No.29   男性  20代     1   209.000000    4
No.30   男性  50代     5   891.000000    4
No.31   男性  40代     4   811.000000    3
No.32   女性  30代     1   629.789474    5
No.33   男性  40代     4   562.000000    7
No.34   男性  20代     1   263.000000    8
No.35   男性  30代     4  1203.000000    5
No.36   女性  40代     5   911.000000    8
No.37   男性  40代     4   758.000000    6
No.38   女性  30代     4   470.000000    7
No.39   男性  50代     4   671.000000    8
No.40   女性  40代     4   631.000000    7
No.41   男性  30代     3   485.000000    6
No.42   男性   不明     2   629.789474    6
No.43   女性  50代     5  1100.000000    6
No.44   男性  40代     4  3000.000000    2
No.45   女性  50代     4   673.000000    4
No.46   女性  40代     3   610.000000    6
No.47   男性  20代     3   521.000000    6
No.48   女性  40代     3   459.000000    3
No.49   男性  20代     1   308.000000    3
No.50   男性  40代     2   698.000000    1
No.51   女性  20代     1   312.000000    6
No.52   女性  40代     3   582.000000    3
No.53   男性  50代     3   641.000000    1
No.54   男性  40代     5   947.000000    6
No.55   女性  40代     4   805.000000    9
No.56   男性  20代     2   629.789474    4
No.57   男性  20代     2   343.000000    9
No.58   女性  30代     1   510.000000    6
No.59   男性  50代     4   969.000000   10
No.60   男性  20代     1   448.000000    3

In [67]:
df_enq.fillna({"年代":"不明","年収":df_enq.median(numeric_only=True)["年収"]})

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.3    男性  20代     1   341.0    3
No.4    女性  40代     2   380.0    5
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.9    男性  20代     1   209.0    1
No.10   男性   不明     3   517.0    8
No.11   男性  40代     4   560.0    6
No.12   男性  20代     2   403.0    7
No.13   女性  50代     4   501.0    5
No.14   女性  30代     1   391.0    5
No.15   女性  40代     3   679.0    6
No.16   男性  50代     3   615.0    8
No.17   女性  50代     4   544.0    1
No.18   女性  30代     3   443.0    7
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.21   女性  30代     3   707.0    6
No.22   女性  20代     1   286.0    9
No.23   女性  50代     3   429.0    6
No.24   男性  40代     4   811.0    3
No.25   女性  30代     3   413.0    8
No.26   男性  30代     4   402.0    7
No.27   男性  50代     4   557.0    7
No.28   女性  20代     1   181.0    2
No.29   男性  20代     1   209.0    4
No.30   男性  50代     5   891.0    4
No.31   男性  40代     4   811.0    3
No.32   女性  30代     1   560.0    5
No.33   男性  40代     4   562.0    7
No.34   男性  20代     1   263.0    8
No.35   男性  30代     4  1203.0    5
No.36   女性  40代     5   911.0    8
No.37   男性  40代     4   758.0    6
No.38   女性  30代     4   470.0    7
No.39   男性  50代     4   671.0    8
No.40   女性  40代     4   631.0    7
No.41   男性  30代     3   485.0    6
No.42   男性   不明     2   560.0    6
No.43   女性  50代     5  1100.0    6
No.44   男性  40代     4  3000.0    2
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.47   男性  20代     3   521.0    6
No.48   女性  40代     3   459.0    3
No.49   男性  20代     1   308.0    3
No.50   男性  40代     2   698.0    1
No.51   女性  20代     1   312.0    6
No.52   女性  40代     3   582.0    3
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.55   女性  40代     4   805.0    9
No.56   男性  20代     2   560.0    4
No.57   男性  20代     2   343.0    9
No.58   女性  30代     1   510.0    6
No.59   男性  50代     4   969.0   10
No.60   男性  20代     1   448.0    3

## 3_3 形状変換

In [ ]:
df_enq # 横持ちのデータ

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.3    男性  20代     1   341.0    3
No.4    女性  40代     2   380.0    5
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.9    男性  20代     1   209.0    1
No.10   男性  NaN     3   517.0    8
No.11   男性  40代     4   560.0    6
No.12   男性  20代     2   403.0    7
No.13   女性  50代     4   501.0    5
No.14   女性  30代     1   391.0    5
No.15   女性  40代     3   679.0    6
No.16   男性  50代     3   615.0    8
No.17   女性  50代     4   544.0    1
No.18   女性  30代     3   443.0    7
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.21   女性  30代     3   707.0    6
No.22   女性  20代     1   286.0    9
No.23   女性  50代     3   429.0    6
No.24   男性  40代     4   811.0    3
No.25   女性  30代     3   413.0    8
No.26   男性  30代     4   402.0    7
No.27   男性  50代     4   557.0    7
No.28   女性  20代     1   181.0    2
No.29   男性  20代     1   209.0    4
No.30   男性  50代     5   891.0    4
No.31   男性  40代     4   811.0    3
No.32   女性  30代     1     NaN    5
No.33   男性  40代     4   562.0    7
No.34   男性  20代     1   263.0    8
No.35   男性  30代     4  1203.0    5
No.36   女性  40代     5   911.0    8
No.37   男性  40代     4   758.0    6
No.38   女性  30代     4   470.0    7
No.39   男性  50代     4   671.0    8
No.40   女性  40代     4   631.0    7
No.41   男性  30代     3   485.0    6
No.42   男性  NaN     2     NaN    6
No.43   女性  50代     5  1100.0    6
No.44   男性  40代     4  3000.0    2
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.47   男性  20代     3   521.0    6
No.48   女性  40代     3   459.0    3
No.49   男性  20代     1   308.0    3
No.50   男性  40代     2   698.0    1
No.51   女性  20代     1   312.0    6
No.52   女性  40代     3   582.0    3
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.55   女性  40代     4   805.0    9
No.56   男性  20代     2     NaN    4
No.57   男性  20代     2   343.0    9
No.58   女性  30代     1   510.0    6
No.59   男性  50代     4   969.0   10
No.60   男性  20代     1   448.0    3

In [70]:
df_enq.melt()# 縦持ちのデータ

    variable value
0         性別    男性
1         性別    男性
2         性別    男性
3         性別    女性
4         性別    男性
..       ...   ...
295      満足度     4
296      満足度     9
297      満足度     6
298      満足度    10
299      満足度     3

[300 rows x 2 columns]

In [69]:
df_enq.melt()[50:70]

   variable value
50       性別    女性
51       性別    女性
52       性別    男性
53       性別    男性
54       性別    女性
55       性別    男性
56       性別    男性
57       性別    女性
58       性別    男性
59       性別    男性
60       年代   40代
61       年代   30代
62       年代   20代
63       年代   40代
64       年代   50代
65       年代   50代
66       年代   50代
67       年代   50代
68       年代   20代
69       年代   NaN

In [71]:
df_enq.T

回答者No.,No.1,No.2,No.3,No.4,No.5,No.6,No.7,No.8,No.9,No.10,...,No.51,No.52,No.53,No.54,No.55,No.56,No.57,No.58,No.59,No.60
性別,男性,男性,男性,女性,男性,男性,女性,女性,男性,男性,...,女性,女性,男性,男性,女性,男性,男性,女性,男性,男性
年代,40代,30代,20代,40代,50代,50代,50代,50代,20代,NaN,...,20代,40代,50代,40代,40代,20代,20代,30代,50代,20代
世帯人数,4,2,1,2,5,4,3,3,1,3,...,1,3,3,5,4,2,2,1,4,1
年収,852.0,529.0,341.0,380.0,808.0,905.0,621.0,621.0,209.0,517.0,...,312.0,582.0,641.0,947.0,805.0,NaN,343.0,510.0,969.0,448.0
満足度,7,6,3,5,8,10,5,5,1,8,...,6,3,1,6,9,4,9,6,10,3

# データの結合

In [72]:
df_person1 = pd.read_csv("1_2/personNo_1.csv",index_col="社員番号")
df_person2 = pd.read_csv("1_2/personNo_2.csv",index_col="社員番号")

In [73]:
df_person1

       氏名
社員番号
10001  佐藤
10002  鈴木
10003  高橋
10004  田中
10005  伊藤
10006  渡辺
10007  山本
10008  中村
10009  小林
10010  加藤

In [74]:
df_person2

       組織番号    組織名
社員番号
10001  2001    総務部
10002  2001    総務部
10004  2002    人事部
10005  2002    人事部
10006  2002    人事部
10007  2003    法務部
10009  2004  健康管理部
10010  2005  システム部
10011  2005  システム部
10012  2006  人材開発部

## 1 joinによる結合

In [ ]:
df_person1.join(df_person2)# 社員番号をキーに結合 左外部結合　left joionがデフォルト

       氏名    組織番号    組織名
社員番号
10001  佐藤  2001.0    総務部
10002  鈴木  2001.0    総務部
10003  高橋     NaN    NaN
10004  田中  2002.0    人事部
10005  伊藤  2002.0    人事部
10006  渡辺  2002.0    人事部
10007  山本  2003.0    法務部
10008  中村     NaN    NaN
10009  小林  2004.0  健康管理部
10010  加藤  2005.0  システム部

In [76]:
df_person1.join(df_person2,how ="right")

        氏名  組織番号    組織名
社員番号
10001   佐藤  2001    総務部
10002   鈴木  2001    総務部
10004   田中  2002    人事部
10005   伊藤  2002    人事部
10006   渡辺  2002    人事部
10007   山本  2003    法務部
10009   小林  2004  健康管理部
10010   加藤  2005  システム部
10011  NaN  2005  システム部
10012  NaN  2006  人材開発部

In [ ]:
df_person1.join(df_person2,how ="inner") # あるやつだけ

       氏名  組織番号    組織名
社員番号
10001  佐藤  2001    総務部
10002  鈴木  2001    総務部
10004  田中  2002    人事部
10005  伊藤  2002    人事部
10006  渡辺  2002    人事部
10007  山本  2003    法務部
10009  小林  2004  健康管理部
10010  加藤  2005  システム部

In [85]:
df_person = df_person1.join(df_person2,how ="outer")  #ないやつも

In [86]:
df_person

        氏名    組織番号    組織名
社員番号
10001   佐藤  2001.0    総務部
10002   鈴木  2001.0    総務部
10003   高橋     NaN    NaN
10004   田中  2002.0    人事部
10005   伊藤  2002.0    人事部
10006   渡辺  2002.0    人事部
10007   山本  2003.0    法務部
10008   中村     NaN    NaN
10009   小林  2004.0  健康管理部
10010   加藤  2005.0  システム部
10011  NaN  2005.0  システム部
10012  NaN  2006.0  人材開発部

## 2 merge　途中のやつも見れる

In [ ]:
df_section = pd.read_csv("1_2/sectionNo.csv",index_col="組織番号")

In [81]:
df_section

        組織名  責任者  人数
組織番号
2001    総務部   吉田  23
2002    人事部   山田  34
2003    法務部  佐々木  11
2005  システム部   山口  15
2006  人材開発部   松本  13
2007    購買部   井上   9
2008  システム部   木村  22

In [87]:
pd.merge(df_person ,df_section,on="組織番号")

    氏名    組織番号  組織名_x  組織名_y  責任者  人数
0   佐藤  2001.0    総務部    総務部   吉田  23
1   鈴木  2001.0    総務部    総務部   吉田  23
2   田中  2002.0    人事部    人事部   山田  34
3   伊藤  2002.0    人事部    人事部   山田  34
4   渡辺  2002.0    人事部    人事部   山田  34
5   山本  2003.0    法務部    法務部  佐々木  11
6   加藤  2005.0  システム部  システム部   山口  15
7  NaN  2005.0  システム部  システム部   山口  15
8  NaN  2006.0  人材開発部  人材開発部   松本  13

In [ ]:
pd.merge(df_person ,df_section,on=["組織番号","組織名"]) # 両方見て　あと　inner jooinがデフォルト

    氏名    組織番号    組織名  責任者  人数
0   佐藤  2001.0    総務部   吉田  23
1   鈴木  2001.0    総務部   吉田  23
2   田中  2002.0    人事部   山田  34
3   伊藤  2002.0    人事部   山田  34
4   渡辺  2002.0    人事部   山田  34
5   山本  2003.0    法務部  佐々木  11
6   加藤  2005.0  システム部   山口  15
7  NaN  2005.0  システム部   山口  15
8  NaN  2006.0  人材開発部   松本  13

In [91]:
pd.merge(df_person ,df_section,on=["組織番号","組織名"], how="outer")

     氏名    組織番号    組織名  責任者    人数
0    佐藤  2001.0    総務部   吉田  23.0
1    鈴木  2001.0    総務部   吉田  23.0
2    田中  2002.0    人事部   山田  34.0
3    伊藤  2002.0    人事部   山田  34.0
4    渡辺  2002.0    人事部   山田  34.0
5    山本  2003.0    法務部  佐々木  11.0
6    小林  2004.0  健康管理部  NaN   NaN
7    加藤  2005.0  システム部   山口  15.0
8   NaN  2005.0  システム部   山口  15.0
9   NaN  2006.0  人材開発部   松本  13.0
10  NaN  2007.0    購買部   井上   9.0
11  NaN  2008.0  システム部   木村  22.0
12   高橋     NaN    NaN  NaN   NaN
13   中村     NaN    NaN  NaN   NaN

# concat による結合　上下

In [93]:
df_person1B = pd.read_csv("1_2/personNo_1B.csv",index_col="社員番号")

In [94]:
pd.concat([df_person1,df_person1B])

       氏名    入社年度
社員番号
10001  佐藤     NaN
10002  鈴木     NaN
10003  高橋     NaN
10004  田中     NaN
10005  伊藤     NaN
10006  渡辺     NaN
10007  山本     NaN
10008  中村     NaN
10009  小林     NaN
10010  加藤     NaN
10011   林  2011.0
10012  斉藤  2016.0
10013  清水  2007.0